<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <xtremepush_config>
            <general>
                <documentation_url>https://docs.xtremepush.com/</documentation_url>
                <xp_active>0</xp_active>
            </general>
        </xtremepush_config>
    </default>
</config>
