<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Xtremepush\Core\Api\ConfigurationInterface" type="Xtremepush\Core\Controller\ConfigurationController"/>
    <preference for="Xtremepush\Core\Api\SubscriptionInterface" type="Xtremepush\Core\Model\Subscription"/>
</config>
